### Classification and Testing
#### 1. Import training features and labels

In [1]:
import doc2vec_series2csvArb
import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/mohamedelkhawaga/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/mohamedelkhawaga/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
train_df = pd.read_csv('bembeddings1024.csv')
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,#3 country_label
0,0.041148,-0.022417,-0.014694,-0.025992,0.045405,0.007750,-0.004723,-0.018786,0.001576,0.015194,...,0.003304,0.040397,0.032754,0.029644,0.025828,0.040704,0.030243,-0.048287,-0.004503,5
1,0.054707,-0.027681,-0.021453,-0.038285,0.070126,0.006004,-0.001050,-0.027343,-0.002578,0.020226,...,0.003146,0.061549,0.041090,0.032767,0.036031,0.053186,0.051308,-0.072610,-0.007111,5
2,0.088765,-0.004437,-0.052304,-0.064395,0.143207,0.037976,0.015217,-0.058279,-0.049911,0.040762,...,0.000933,0.146175,0.046004,0.057552,0.027259,0.079052,0.098116,-0.104672,-0.000910,5
3,0.013839,0.005687,-0.022975,-0.001623,0.013285,0.039220,-0.002762,-0.010223,-0.014926,0.017023,...,-0.004008,0.027880,0.014283,0.029251,-0.006846,0.023233,-0.004540,0.006293,0.013223,5
4,0.082814,-0.046373,-0.027552,-0.046948,0.089935,0.008666,-0.007375,-0.037496,-0.001153,0.025389,...,0.010472,0.079935,0.068562,0.040215,0.055043,0.070194,0.081510,-0.107124,-0.009639,5

In [3]:
dups = train_df.duplicated()
print(f"Number of duplicate rows = {dups.sum()}")

Number of duplicate rows = 37

In [4]:
train_df.drop_duplicates()

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,#3 country_label
0,0.041148,-0.022417,-0.014694,-0.025992,0.045405,0.007750,-0.004723,-0.018786,0.001576,0.015194,...,0.003304,0.040397,0.032754,0.029644,0.025828,0.040704,0.030243,-0.048287,-0.004503,5
1,0.054707,-0.027681,-0.021453,-0.038285,0.070126,0.006004,-0.001050,-0.027343,-0.002578,0.020226,...,0.003146,0.061549,0.041090,0.032767,0.036031,0.053186,0.051308,-0.072610,-0.007111,5
2,0.088765,-0.004437,-0.052304,-0.064395,0.143207,0.037976,0.015217,-0.058279,-0.049911,0.040762,...,0.000933,0.146175,0.046004,0.057552,0.027259,0.079052,0.098116,-0.104672,-0.000910,5
3,0.013839,0.005687,-0.022975,-0.001623,0.013285,0.039220,-0.002762,-0.010223,-0.014926,0.017023,...,-0.004008,0.027880,0.014283,0.029251,-0.006846,0.023233,-0.004540,0.006293,0.013223,5
4,0.082814,-0.046373,-0.027552,-0.046948,0.089935,0.008666,-0.007375,-0.037496,-0.001153,0.025389,...,0.010472,0.079935,0.068562,0.040215,0.055043,0.070194,0.081510,-0.107124,-0.009639,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9625,0.059986,-0.021856,-0.018431,-0.041676,0.075129,0.005099,0.001397,-0.026707,-0.006965,0.026199,...,0.003583,0.066889,0.041017,0.035151,0.030675,0.049999,0.046545,-0.073811,-0.007191,4
9626,0.054464,-0.023521,-0.025474,-0.044373,0.075758,0.010873,0.003304,-0.029260,-0.007424,0.030903,...,0.001231,0.072579,0.044163,0.038367,0.033369,0.060856,0.050353,-0.074195,-0.004708,4
9627,0.064778,-0.045879,0.053921,-0.010696,-0.006927,-0.078220,-0.017883,0.014396,0.041024,0.026171,...,0.040224,-0.034544,0.078904,-0.032282,0.056927,-0.009409,0.049046,-0.110688,-0.024695,4
9628,0.033716,-0.055673,-0.037787,-0.045655,0.073003,0.011105,-0.010887,-0.039252,0.033830,0.006415,...,0.005110,0.036676,0.046818,0.064542,0.068035,0.096130,0.035891,-0.060213,-0.006041,4
9629,0.066438,-0.000516,-0.033871,-0.027486,0.079894,0.042335,0.000075,-0.031581,-0.033061,0.035312,...,-0.006549,0.083300,0.035708,0.053482,0.011751,0.050328,0.031822,-0.056191,0.008327,4

#### 2. Import testing data and remove redudant rows

In [5]:
test_df = pd.read_csv("dev_labeled.tsv", sep="\t")
test_df.head()

,#1 tweet_ID,#2 tweet_content,#3 country_label,#4 province_label
0,Dev_1,@Osama__zahrani ايسكو لاعب اليوم :) اسيست وهدف,Iraq,iq_Ninawa
1,Dev_2,بعد صلاه الفجر بقا,Egypt,eg_Monufia
2,Dev_3,إن شاء الله هذه المرة يكون من نصيبي,Algeria,dz_Oran
3,Dev_4,ههههههههههههههههه خلي السوداني يزغبك,Yemen,ye_Al-Hudaydah
4,Dev_5,كل حاجة محسوبة يا جماعة والله,Egypt,eg_South-Sinai

In [6]:
test_df['#3 country_label'].value_counts()

Egypt                   1070
Iraq                     636
Saudi_Arabia             579
Algeria                  359
Libya                    265
United_Arab_Emirates     265
Syria                    265
Oman                     249
Morocco                  249
Yemen                    206
Tunisia                  164
Lebanon                  110
Qatar                    104
Jordan                   104
Palestine                102
Kuwait                    70
Sudan                     51
Somalia                   51
Mauritania                40
Djibouti                  10
Bahrain                    8
Name: #3 country_label, dtype: int64

In [7]:
test_df = test_df[(test_df['#3 country_label']== 'Egypt' ) | (test_df['#3 country_label']== 'Iraq') |
        (test_df['#3 country_label']== 'Saudi_Arabia') | (test_df['#3 country_label']== 'Algeria' ) | 
        (test_df['#3 country_label']== 'Oman' ) | (test_df['#3 country_label']== 'Libya' ) |
        (test_df['#3 country_label']== 'Syria' ) | (test_df['#3 country_label']== 'Morocco' ) |
       (test_df['#3 country_label']== 'United_Arab_Emirates' )]
test_df['#3 country_label'].value_counts()

Egypt                   1070
Iraq                     636
Saudi_Arabia             579
Algeria                  359
United_Arab_Emirates     265
Syria                    265
Libya                    265
Oman                     249
Morocco                  249
Name: #3 country_label, dtype: int64

In [8]:
test_df.head()

,#1 tweet_ID,#2 tweet_content,#3 country_label,#4 province_label
0,Dev_1,@Osama__zahrani ايسكو لاعب اليوم :) اسيست وهدف,Iraq,iq_Ninawa
1,Dev_2,بعد صلاه الفجر بقا,Egypt,eg_Monufia
2,Dev_3,إن شاء الله هذه المرة يكون من نصيبي,Algeria,dz_Oran
4,Dev_5,كل حاجة محسوبة يا جماعة والله,Egypt,eg_South-Sinai
5,Dev_6,@kasimf اللهم ضيق عليه أنفاسه وعسر ميتته إلى أ...,Saudi_Arabia,sa_Al-Quassim

#### 3. Preprocess text and extract features

In [9]:
test = test_df['#2 tweet_content']
doc2vec_series2csvArb.extract_Arabic_Doc_Embeddings( docSeries = test , modelname = "1024PreProcessed", embeddingDim = 128, vocabMinFrequency = 1,  trainEpochs = 25)

First five Documents Tokenized:
0    [@, Osama__zahrani, ايسكو, لاعب, اليوم, :, ), ...
1                              [بعد, صلاه, الفجر, بقا]
2         [إن, شاء, الله, هذه, المرة, يكون, من, نصيبي]
4                 [كل, حاجة, محسوبة, يا, جماعة, والله]
5    [@, kasimf, اللهم, ضيق, عليه, أنفاسه, وعسر, مي...
6                        [يعني, ما, يحتاج, نلبس, ثقيل]
Name: #2 tweet_content, dtype: object
0    [Osama__zahrani, ايسكو, لاعب, اليوم, ), اسيست,...
1                              [بعد, صلاه, الفجر, بقا]
2         [إن, شاء, الله, هذه, المرة, يكون, من, نصيبي]
4                 [كل, حاجة, محسوبة, يا, جماعة, والله]
5    [kasimf, اللهم, ضيق, عليه, أنفاسه, وعسر, ميتته...
6                        [يعني, ما, يحتاج, نلبس, ثقيل]
Name: #2 tweet_content, dtype: object
34          [غير, يسلم, النسكافي, معاش, نبوا, منهم, شئ]
35    [لآى, حد, غلطت, فية, بس, لو, گان, غآلى, عليآ, ...
36      [فى, حاجات, تتقال, و, حاجات, احلى, و, هى, خيال]
37    [هــــــا, ؟لە, كەیەوە, ڕەگەزپەرستی, بووە, بە,...
38    [لا, تحرمني, سعة, وسبوغ, وشمول, وجزيل, ولا, تم...
41                                   [تريح, البال, انت]
42    [مادام, عيش, بالموصل, حتى, حلم, لاتحلم, لان, ح...
43                          [اللهم, ارحمه, و, اغفر, له]
46    [باب, نتمورث, آحرور, ديما, ذنتا, آچتشاثن, أبرّ...
48                       [وش, سالفة, الهند, و, باكستان]
Name: #2 tweet_content, dtype: object
First Document Embedding
[array([ 0.0202682 ,  0.00821404, -0.00672295, ...,  0.00892594,
       -0.01956027,  0.00799445], dtype=float32)]
doc_embeddings.csv SAVED IN DIRECTORY

#### 4. Import inferred data set based on training model

In [10]:
test_set = pd.read_csv('doc_embeddings.csv')
print(test_set.shape)

(3937, 1024)

#### 5. Prepare test labels for evaluation

In [11]:
test_labels = test_df['#3 country_label'].astype('str')

test_labels= test_labels.replace({ 'Iraq' : 1 ,'Egypt' : 2,'Saudi_Arabia' : 3,'United_Arab_Emirates':4,'Algeria' : 5, 'Oman' : 6, 'Syria' : 7, 'Libya' : 8 , 'Morocco' : 9})

In [12]:
labels = train_df["#3 country_label"]
train_df = train_df.drop('#3 country_label', axis = 1)

#### 7. Train and Evalaute first model: Random Forest

In [19]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier( max_features="sqrt" , n_estimators =100)
clf = clf.fit(train_df,labels)
pred_test = clf.predict(test_set)
print(pred_test[:20])
print([test_labels][:20])

[9 3 2 2 4 6 3 2 2 5 6 7 6 3 5 2 9 8 3 5]
[0       1
1       2
2       5
4       2
5       3
       ..
4949    4
4950    7
4953    2
4954    2
4955    2
Name: #3 country_label, Length: 3937, dtype: int64]

In [20]:
from sklearn.metrics import accuracy_score, classification_report
acc_clf = accuracy_score(test_labels,pred_test)
print(f"Accuracy of clf is {acc_clf}")
print(classification_report(test_labels,pred_test))

Accuracy of clf is 0.20370840741681484
              precision    recall  f1-score   support

           1       0.27      0.14      0.19       636
           2       0.53      0.34      0.41      1070
           3       0.17      0.15      0.16       579
           4       0.09      0.20      0.12       265
           5       0.22      0.28      0.24       359
           6       0.09      0.15      0.11       249
           7       0.09      0.08      0.08       265
           8       0.06      0.09      0.08       265
           9       0.07      0.09      0.08       249

    accuracy                           0.20      3937
   macro avg       0.18      0.17      0.16      3937
weighted avg       0.26      0.20      0.22      3937

#### 8. Train and Evaluate second model: Ensemble Support Vector Machine Bagging

In [17]:
from sklearn import svm
from sklearn.ensemble import BaggingClassifier
clf1 = BaggingClassifier(base_estimator=svm.LinearSVC())

In [18]:
clf1 = clf1.fit(train_df,labels)
pred_test1 = clf1.predict(test_set)
acc_clf1 = accuracy_score(test_labels,pred_test1)
print(f"Accuracy of clf1 is {acc_clf1}")
print(classification_report(test_labels,pred_test1))

Accuracy of clf1 is 0.27533655067310137
              precision    recall  f1-score   support

           1       0.34      0.18      0.23       636
           2       0.52      0.60      0.55      1070
           3       0.27      0.08      0.12       579
           4       0.09      0.29      0.14       265
           5       0.21      0.45      0.29       359
           6       0.06      0.03      0.04       249
           7       0.17      0.01      0.02       265
           8       0.06      0.05      0.06       265
           9       0.10      0.08      0.09       249

    accuracy                           0.28      3937
   macro avg       0.20      0.20      0.17      3937
weighted avg       0.29      0.28      0.26      3937

#### 9. Train and Evaluate third model: Naive Bayes with normal(Gaussian) distribution assumed since continous

In [16]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.naive_bayes import GaussianNB
clf2 = GaussianNB()
clf2 = clf2.fit(train_df,labels)
pred_test2 = clf2.predict(test_set)
acc_clf2 = accuracy_score(test_labels,pred_test2)
print(f"Accuracy of clf2 is {acc_clf2}")
print(classification_report(test_labels,pred_test2))

Accuracy of clf2 is 0.17018034036068072
              precision    recall  f1-score   support

           1       0.18      0.04      0.06       636
           2       0.49      0.36      0.41      1070
           3       0.20      0.06      0.09       579
           4       0.07      0.67      0.13       265
           5       0.22      0.09      0.13       359
           6       0.00      0.00      0.00       249
           7       0.00      0.00      0.00       265
           8       0.03      0.01      0.01       265
           9       0.07      0.06      0.07       249

    accuracy                           0.17      3937
   macro avg       0.14      0.14      0.10      3937
weighted avg       0.22      0.17      0.16      3937

/Users/mohamedelkhawaga/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
## Multinomial for spar